<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>What The Fuck Should Lukas Have For Lunch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- matm -->
    <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setCookieDomain", "*.whatthefuckshouldlukashaveforlunch.com"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//matm.dotwee.de/";
        _paq.push(['setTrackerUrl', u+'matm.php']);
        _paq.push(['setSiteId', '5']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matm.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <noscript><p><img src="//matm.dotwee.de/matm.php?idsite=5&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End matm Code -->
</head>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto text-left navbar-light bg-white border-bottom">
            <div class="inner">
                <nav class="navbar navbar-masthead justify-content-center">
                    <a class="navbar-brand" asp-page="Index">What The Fuck Should Lukas Have For Lunch</a>
                    <a class="nav-link" asp-area="" asp-page="/About">About</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            @RenderBody()
        </main>

        <footer class="mastfoot mt-auto border-top">
            <div class="inner">
                <p>Copyright &copy; 2021 - <a href="https://lukas.wolfsteiner.media">Lukas Wolfsteiner</a></p>
            </div>
        </footer>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
