@{
    bool Errorfree = (bool) @ViewData["Errorfree"];
}

@if (Errorfree)
{
    <h1>Lukas should have</h1>
    <h2>@ViewData["Food"]</h2>
    <h1>for lunch.</h1>
}

else
{
    <h1>Mensa seems closed!</h1>
}

    <a href="?">@ViewData["Message"]</a>