DirectoryIndex index.php
order deny,allow
allow from all

# redirect errors to root
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . / [L,R=301]

# redirect http to https
RewriteCond %{HTTPS} !=on
# this checks to make sure the connection is not already HTTPS
RewriteRule ^/?(.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]