/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: blue;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  /* Vertically center the text there */
}

/* Full page height styles
-------------------------------------------------- */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
}

.masthead {
  margin: -1rem;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
}

.mastfoot {
  margin-bottom: -1rem;
  padding-top: 1rem;
}

.navbar-brand {}

@media (min-width: 48em) {
  .navbar-brand {
    float: left;
    margin-right: 0;

  }

  .navbar-masthead {
    float: left;
  }
}

.cover {
  padding: 0 1.5rem;
}

.btn-outline-dark {
  border-color: blue;
  color: blue;
}

.btn-outline-dark:hover {
  background-color: blue;
}

a:hover,
.nav-link:hover {
  text-decoration: underline;
  color: blue
}

.h1,
.h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.mastfoot {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 0;
}

.mastfoot .inner p {
  margin-bottom: 0;
}