@page
@model ClosedModel

<h1 class="cover-heading">Canteen seems closed!</h1>

<p class="lead">Try again tomorrow or refresh the page.</p>

<p class="lead">
    <a asp-page="Index" class="btn btn-lg btn-outline-dark">Refresh</a>
</p>