@page
@model IndexModel

<p class="h1">Lukas Should Have</p>
<p class="h2"><em class="text-muted">@ViewData["Food"]</em></h1>
<p class="h1">For Lunch</p>

<p><a asp-page="Index"><u>Lukas doesn't fucking want that</u></a></p>